# Xcode
home42.xcworkspace/xcuserdata/*
home42.xcworkspace/xcshareddata/*
!home42.xcworkspace/xcshareddata/IDETemplateMacros.plist
home42.xcodeproj/project.xcworkspace/*
home42.xcodeproj/xcuserdata/*
home42.xcodeproj/project.pbxproj

# General
.DS_Store

# Pods
Pods/
Podfile.lock

# Specific Projects files
home42/Controllers/Hidden/*
