# Xcode
home42.xcworkspace/xcuserdata/*
home42.xcworkspace/xcshareddata/*
!home42.xcworkspace/xcshareddata/IDETemplateMacros.plist
home42.xcodeproj/xcuserdata/*

# General
.DS_Store

# Pods
Pods/
Podfile.lock

# Specific Projects files
home42/Controllers/Hidden/Corrections.swift
home42/Controllers/Hidden/Tracker.swift
